.news-manager-container {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 42px;
    border-radius: 24px;
}

.news-manager-list-container {
    background-color: #171717;
    width: 640px;
    border-radius: 20px;
    margin-top: 32px;
    overflow: hidden;
}

.news-manager-list-element {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #121212;
}

.news-manager-list-element-title {
    font-family: NeueMachina-Medium;
    font-size: 16px;
    color: white;
}

.news-manager-list-element-button {
    font-family: NeueMachina-Medium;
    font-size: 16px;
    text-decoration: none;
    border-radius: 14px;
    color: white;
    background-color: #171717;
    padding: 2px 16px 2px 16px;
    transition: .3s;
}

    .news-manager-list-element-button:hover {
        color: black;
        background-color: #bc75ff;
        cursor: pointer;
        transition: .3s;
    }

.news-manager-add-button {
    font-family: NeueMachina-Medium;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    width: 240px;
    height: 48px;
    background: linear-gradient(-90deg, #7575ff 0%, #bc75ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .news-manager-add-button:hover {
        background: linear-gradient(90deg, #7575ff 0%, #bc75ff 100%);
        cursor: pointer;
    }