<div class="news-manager-container">
    <a class="news-manager-add-button" href="/admin/add-news">Добавить новость</a>
    <div class="news-manager-list-container">
        <div class="news-manager-list-element">
            <span class="news-manager-list-element-title">Заголовок новости</span>
            <span>
                <a class="news-manager-list-element-button" href="/admin/edit-news/1">Изменить</a>
                <a class="news-manager-list-element-button">Удалить</a>
            </span>
        </div>


        <div class="news-manager-list-element">
            <span class="news-manager-list-element-title">Заголовок новости</span>
            <span>
                <a class="news-manager-list-element-button" href="/admin/edit-news/1">Изменить</a>
                <a class="news-manager-list-element-button">Удалить</a>
            </span>
        </div>
        <div class="news-manager-list-element">
            <span class="news-manager-list-element-title">Заголовок новости</span>
            <span>
                <a class="news-manager-list-element-button" href="/admin/edit-news/1">Изменить</a>
                <a class="news-manager-list-element-button">Удалить</a>
            </span>
        </div>
        <div class="news-manager-list-element">
            <span class="news-manager-list-element-title">Заголовок новости</span>
            <span>
                <a class="news-manager-list-element-button" href="/admin/edit-news/1">Изменить</a>
                <a class="news-manager-list-element-button">Удалить</a>
            </span>
        </div>

    </div>
</div>