@using CoderWebsite.Models
@using Microsoft.EntityFrameworkCore

@inject ApplicationContext DbContext

<div class="seo-control-container">
    <div class="seo-control-list-container">
        <EditForm Model="@model">
            <div class="seo-control-list-element">
                <span class="seo-control-list-element-title">Мета-теги страницы "Главная страница"</span>
                <InputTextArea class="seo-control-list-element-textarea" placeholder="Введите необходимые теги здесь." @bind-Value="model.MainPageMeta" />
            </div>

            <div class="seo-control-list-element">
                <span class="seo-control-list-element-title">Мета-теги страницы "Наши продукты"</span>
                <InputTextArea class="seo-control-list-element-textarea" placeholder="Введите необходимые теги здесь." @bind-Value="model.OurProductsMeta" />
            </div>

            <div class="seo-control-list-element">
                <span class="seo-control-list-element-title">Мета-теги страницы "Новости"</span>
                <InputTextArea class="seo-control-list-element-textarea" placeholder="Введите необходимые теги здесь." @bind-Value="model.NewsMeta" />
            </div>

            <div class="seo-control-list-element">
                <span class="seo-control-list-element-title">Мета-теги страницы "Микросервисы gRPC и ZeroC Ice"</span>
                <InputTextArea class="seo-control-list-element-textarea" placeholder="Введите необходимые теги здесь." @bind-Value="model.MicroservicesMeta" />
            </div>

            <div class="seo-control-list-element">
                <span class="seo-control-list-element-title">Мета-теги страницы "PWA-приложения"</span>
                <InputTextArea class="seo-control-list-element-textarea" placeholder="Введите необходимые теги здесь." @bind-Value="model.PWAAppsMeta" />
            </div>

            <div class="seo-control-list-element">
                <span class="seo-control-list-element-title">Мета-теги страницы "SPA-приложения"</span>
                <InputTextArea class="seo-control-list-element-textarea" placeholder="Введите необходимые теги здесь." @bind-Value="model.SPAAppsMeta" />
            </div>

            <div class="seo-control-list-element">
                <span class="seo-control-list-element-title">Мета-теги страницы "О нас"</span>
                <InputTextArea class="seo-control-list-element-textarea" placeholder="Введите необходимые теги здесь." @bind-Value="model.AboutUsMeta" />
            </div>

            <div class="seo-control-list-element">
                <span class="seo-control-list-element-title">Мета-теги страницы "Контактная информация"</span>
                <InputTextArea class="seo-control-list-element-textarea" placeholder="Введите необходимые теги здесь." @bind-Value="model.ContactDataMeta" />
            </div>
        </EditForm>
    </div>
</div>


@code {
    private SEOControlModel model = new SEOControlModel();

    protected override void OnInitialized() { }

    private class SEOControlModel
    {
        public string MainPageMeta { get; set; }
        
        public string OurProductsMeta { get; set; }

        public string NewsMeta { get; set; }

        public string MicroservicesMeta { get; set; }

        public string PWAAppsMeta { get; set; }

        public string SPAAppsMeta { get; set; }

        public string AboutUsMeta { get; set; }

        public string ContactDataMeta { get; set; }
    }
}