.seo-control-container {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 42px;
    border-radius: 24px;
    animation-duration: .5s;
    animation-name: slidein;
}

.seo-control-list-container {
    background-color: #171717;
    width: 840px;
    border-radius: 20px;
    overflow: hidden;
}

.seo-control-list-element {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #121212;
}

.seo-control-list-element-title {
    font-family: NeueMachina-Medium;
    font-size: 16px;
    color: white;
}

.seo-control-update-data-button {
    font-family: NeueMachina-Medium;
    font-size: 16px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    width: 240px;
    height: 48px;
    background: linear-gradient(-90deg, #7575ff 0%, #bc75ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .seo-control-update-data-button:hover {
        background: linear-gradient(90deg, #7575ff 0%, #bc75ff 100%);
        cursor: pointer;
    }

.seo-control-update-data-button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.seo-control-data-was-saved-cont {
    background: linear-gradient(90deg, #7575ff 0%, #bc75ff 100%);
    font-family: NeueMachina-Medium;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-duration: .5s;
    animation-name: vertsizein;
    overflow: hidden;
    height: 48px;
}

.seo-control-list-element-input-cont {
    display: flex;
    flex-direction: column;
}

::deep .seo-control-list-element-title-input {
    color: white;
    background-color: #121212;
    padding: 12px;
    font-family: NeueMachina-Medium;
    font-size: 16px;
    border: none;
    border-radius: 12px 12px 0 0;
    outline: none;
    transition: .3s;
}

    ::deep .seo-control-list-element-title-input:focus {
        padding: 10px;
        border: 2px solid #7575ff;
        transition: .3s;
    }

::deep .seo-control-list-element-textarea {
    color: white;
    background-color: #121212;
    min-width: 500px;
    min-height: 120px;
    padding: 12px;
    resize: vertical;
    font-family: NeueMachina-Medium;
    font-size: 16px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 2px solid #0e0e0e;
    border-radius: 0 0 12px 12px;
    outline: none;
    transition: .3s;
}

    ::deep .seo-control-list-element-textarea:focus {
        padding: 10px;
        border: 2px solid #7575ff;
        transition: .3s;
    }

@keyframes vertsizein {
    from {
        height: 0;
    }

    to {
        height: 48px;
    }
}