<div class="news-list-element-container">
    <div class="news-list-element-text-container">
        <span class="news-list-element-date">01.01.1970</span>
        <span class="news-list-element-title">Заголовок</span>
        <span class="news-list-element-text">Текст wrgjiwj wrjg iwjrgfi3 jijw ifjwi f</span>
    </div>
    <div class="news-list-element-button-container">
        <button class="news-list-element-button">Открыть</button>
    </div>
</div>

@code {

}