<div class="box-item">
    @if (ImagePath != null)
    {
        <div class="box-item-image-container">
            <img class="box-item-image" src="@ImagePath" />
        </div>    
    }
    @if (Title != null)
    {
        <span class="box-item-title">@Title</span>
    }
    <span class="box-item-text">
        @ChildContent
    </span>
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? ImagePath { get; set; }

    [Parameter] public string? Title { get; set; }
}