<div class="call-text-container">
    @if (Title != null) {
        <div class="title">
            @Title
        </div>
    }

    <span class="call-text">
        @ChildContent
    </span>

    @if (ButtonText != null)
    {
        <div class="call-button-container">
            <a class="call-button" href="@ButtonRedirect">
                @ButtonText
            </a>
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? Title { get; set; }

    [Parameter] public string? ButtonText { get; set; }

    [Parameter] public string? ButtonRedirect { get; set; }
}