@page "/admin/edit-news/{Id:int}"

@using CoderWebsite.Components
@using CoderWebsite.Models
@using CoderWebsite.Models.Pages.Admin
@using Microsoft.AspNetCore.Identity

@inject ApplicationContext DbContext
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationState
@inject UserManager<User> UserManager

<PageTitle>Изменить новость | Кодер</PageTitle>

<PageBlock>
    <CascadingAuthenticationState>
        <AuthorizeView Roles="admin">
            <Authorized>
                @if (news != null)
                {
                    <div class="edit-news-container">
                        @if (EnableTitle)
                        {
                            <div class="edit-news-title">Изменить новость</div>
                        }
                        <EditForm Model="@model" OnValidSubmit=Edit Context="editNewsContext">
                            <div class="edit-news-form-container">
                                <div class="edit-news-validation-errors">
                                    <DataAnnotationsValidator />
                                    <ValidationSummary />
                                </div>

                                <span class="edit-news-form-input-title">Заголовок новости</span>
                                <InputText @bind-Value="model.Title" class="edit-news-form-input" />

                                <span class="edit-news-form-input-title">Текст новости</span>
                                <InputTextArea class="edit-news-form-inputtextarea" @bind-Value="model.Text" />

                                <div class="edit-news-form-button-container">
                                    <button type="submit" class="edit-news-form-button">Изменить новость</button>
                                </div>
                            </div>
                        </EditForm>
                    </div>
                }
                else
                {
                    <div class="edit-news-no-news-message">Новость по данному адресу не найдена.</div>
                }
            </Authorized>
            <NotAuthorized>
                <div class="access-error-message">Только администратор имеет доступ к данному разделу.</div>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</PageBlock>

@code {
    private News news;

    [Parameter] public bool EnableTitle { get; set; } = true;

    [Parameter] public int Id { get; set; }

    private AddNewsModel model = new AddNewsModel();

    protected override void OnInitialized()
    {
        var authState = AuthenticationState.GetAuthenticationStateAsync().Result;
        var user = UserManager.GetUserAsync(authState.User).Result;
        if (user == null) NavigationManager.NavigateTo("/login");

        var dbNews = DbContext.News.Where(obj => obj.Id == Id);
        if (dbNews.Count() != 0)
        {
            news = dbNews.First();
            model.Title = news.Title;
            model.Text = news.Text;
        }
    }

    private void Edit()
    {
        news.Title = model.Title;
        news.Text = model.Text;
        DbContext.SaveChanges();
        NavigationManager.NavigateTo($"/news/{Id}", true, true);
    }
}