<div>
    <div class="footer-main">
        <div class="footer-button-container">
            <a class="footer-button">Кнопка</a>
            <a class="footer-button">Кнопка</a>
            <a class="footer-button">Кнопка</a>
        </div>
        <span class="footer-title">кодер</span>
    </div>
    <div class="footer-bottom-line">
        <span class="footer-copyright">© 2022 кодер</span>
    </div>
</div>