@using CoderWebsite.Components
@inherits LayoutComponentBase

<div class="main-container">
    <div>
        <NavMenu />
        <main>
            @Body
        </main>
    </div>
    <Footer />
</div>