@using CoderWebsite.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject NavigationManager NavigationManager

<header>
    <div class="header">
        <span class="header-title">кодер</span>
        <span>
            <a class="header-button" href="/">Главная</a>
            <a class="header-button" href="/news-list">Новости</a>

            <span class="dropdown">
                <a class="header-button" href="/">Услуги</a>
                <div class="dropdown-menu">
                    <a href="/services/microservice">Микросервисы gRPC и ZeroC Ice</a>
                    <a href="/services/pwa">PWA-приложение</a>
                    <a href="/services/spa">SPA-приложение</a>
                </div>
            </span>

            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <a class="header-button" href="/ordering">Заказать приложение</a>
                        <span class="dropdown">
                            <a class="header-button header-button-menu" href="/account">@context.User.Identity.Name</a>
                            <div class="dropdown-menu">
                                <a href="/account">Личный кабинет</a>
                                <a href="/logout-middleware">Выход</a>
                            </div>
                        </span>
                    </Authorized>
                    <NotAuthorized>
                        <a class="header-button" href="/login">Вход</a>
                        <a class="header-button header-button-menu" href="/register">Регистрация</a>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </span>
    </div>
</header>

@code {
    private async void Logout()
    {
        await SignInManager.SignOutAsync();
        NavigationManager.NavigateTo("/", true, true);
    }
}