@using CoderWebsite.Models
@using Microsoft.AspNetCore.Identity

<header>
    <div class="header">
        <span class="header-title">кодер</span>
        <span>
            <a class="header-button" href="/">Главная</a>
            <a class="header-button" href="/news">Новости</a>

            <span class="dropdown">
                <a class="header-button" href="/">Наши услуги</a>
                <div class="dropdown-menu">
                    <a href="/services/microservice">Микросервисы gRPC и ZeroC Ice</a>
                    <a href="/">PWA-приложение</a>
                    <a href="/">SPA-приложение</a>
                </div>
            </span>

            <a class="header-button" href="/">Заказать приложение</a>

            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <span class="dropdown">
                            <a class="header-button header-button-menu" href="/Identity/Account/Register">@context.User.Identity.Name</a>
                            <div class="dropdown-menu">
                                <a href="/account">Личный кабинет</a>
                                <a href="/Identity/Account/Logout">Выход</a>
                            </div>
                        </span>
                    </Authorized>
                    <NotAuthorized>
                        <a class="header-button" href="/Identity/Account/Login">Вход</a>
                        <a class="header-button header-button-menu" href="/Identity/Account/Register">Регистрация</a>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </span>
    </div>
</header>