@page "/news/{Id:int}"

@using CoderWebsite.Components
@using CoderWebsite.Components.BlockContent
@using CoderWebsite.Models

@inject ApplicationContext DbContext

<PageTitle>@(news != null ? news.Title : "Новость не найдена") | Кодер</PageTitle>

<PageBlock>
    @if (news != null)
    {
        <Publication Title="@(news.Title)" Date="@(news.Date)">
            @(news.Text)
        </Publication>
    }
    else
    {
        <div class="news-text-no-news">Новость не найдена.</div>
    }
</PageBlock>

@code {
    private News news;

    [Parameter] public int Id { get; set; }

    protected override void OnInitialized()
    {
        var dbNews = DbContext.News.Where(obj => obj.Id == Id);
        if (dbNews.Count() > 0)
            news = dbNews.First();
    }
}