@page "/our-products"
@using CoderWebsite.Components
@using CoderWebsite.Components.Voting

<PageTitle>Наши продукты | Кодер</PageTitle>

<PageBlock>
    <div class="our-products-page-title">Наши продукты</div>


    <VotingControl />
</PageBlock>