.scale-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.scale-name {
    color: white;
    font-family: NeueMachina-Medium;
    font-size: 16px;
    margin-bottom: 8px;
}

.scale-line {
    width: 100%;
    height: 20px;
    background-color: #323232;
    animation-name: slidein;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

.scale-line-filled {
    height: 100%;
    background-color: #bc75ff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.scale-percent-value {
    color: white;
    margin-right: 12px;
    font-family: NeueMachina-Medium;
    font-size: 12px;
    position: absolute;
}

@keyframes slidein {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}