<div class="scale-container">
    <div class="scale-name">@Name (@(Percent)%)</div>
    <div class="scale-line">
        <div class="scale-line-filled" style="width: @(Percent)%;"></div>
    </div>
</div>

@code {
    private int percent;

    [Parameter] public string Name { get; set; }

    [Parameter] public int Percent
    {
        get => percent;
        set
        {
            if (value > 100) percent = 100;
            else if (value < 0) percent = 0;
            else percent = value;
        }
    }
}