<div class="votingcontrol-cont">
    <div class="votingcontrol-title">Голосование за лучший проект</div>
    @if (voted)
    {
        <PercentageScale Name="wkfeiewfiw" Percent="GetPercent(VoringVariants.Variant1)" />
        <PercentageScale Name="eryerttyes" Percent="GetPercent(VoringVariants.Variant2)" />
        <PercentageScale Name="rhehehrehh" Percent="GetPercent(VoringVariants.Variant3)" />
        <PercentageScale Name="fhd57hdh5h" Percent="GetPercent(VoringVariants.Variant4)" />
        <PercentageScale Name="32352f3626" Percent="GetPercent(VoringVariants.Variant5)" />
    }
    else
    {
        <EditForm Model="model" OnValidSubmit=Vote>
            <InputRadioGroup @bind-Value="@model.Value">
                <div class="votingcontrol-vote-variant-cont">
                    <InputRadio Value="VoringVariants.Variant1" />
                    <span class="votingcontrol-vote-variant-text">Вариант 1</span>
                </div>
                <div class="votingcontrol-vote-variant-cont">
                    <InputRadio Value="VoringVariants.Variant2" />
                    <span class="votingcontrol-vote-variant-text">Вариант 2</span>
                </div>
                <div class="votingcontrol-vote-variant-cont">
                    <InputRadio Value="VoringVariants.Variant3" />
                    <span class="votingcontrol-vote-variant-text">Вариант 3</span>
                </div>
                <div class="votingcontrol-vote-variant-cont">
                    <InputRadio Value="VoringVariants.Variant4" />
                    <span class="votingcontrol-vote-variant-text">Вариант 4</span>
                </div>
                <div class="votingcontrol-vote-variant-cont">
                    <InputRadio Value="VoringVariants.Variant5" />
                    <span class="votingcontrol-vote-variant-text">Вариант 5</span>
                </div>
            </InputRadioGroup>
            <div class="votingcontrol-vote-button-cont">
                <button type="submit" class="votingcontrol-vote-button">Проголосовать</button>
            </div>
        </EditForm>
    }
</div>

@code {
    private static Dictionary<VoringVariants, int> votingData;

    private bool voted = false;

    private VotingModel model = new VotingModel();

    protected override void OnInitialized()
    {
        if (votingData == null)
        {
            votingData = new Dictionary<VoringVariants, int>();
            for (int i = 0; i < 5; i++)
            {
                votingData.Add((VoringVariants) i, 50);
            }
        }
    }

    private int GetPercent(VoringVariants variant)
    {
        return votingData[variant];
    }

    private void Vote()
    {
        voted = true;
    }

    private class VotingModel
    {
        public VoringVariants Value { get; set; }
    }
}