@using CoderWebsite.Components
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <PageTitle>Страница не найдена | Кодер</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <PageBlock>
                <div class="app-page-not-found">Страница по данному адресу не найдена.</div>
            </PageBlock>
        </LayoutView>
    </NotFound>
</Router>