@using CoderWebsite.Components.Account
@using CoderWebsite.Models

@inject ApplicationContext DbContext

<div class="order-line-container">
    <span class="order-line-title">@Order.Name</span>
    <select @bind="@Id" class="order-line-select">
        <option value="0">Заявка принята</option>
        <option value="1">Договор заключен</option>
        <option value="2">Техническое задание оформлено</option>
        <option value="3">В работе</option>
        <option value="4">Заказ завершен</option>
    </select>
</div>

@code {
    private string selectedId;

    private string Id
    {
        get => selectedId;
        set
        {
            selectedId = value;
            int convertedId = Convert.ToInt32(selectedId);
            Order.Status = (OrderStatus) convertedId;
            DbContext.SaveChanges();
        }
    }

    protected override void OnInitialized()
    {
        selectedId = ((int) Order.Status).ToString();
        StateHasChanged();
    }

    [Parameter] public Models.Order Order { get; set; }
}